@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(226, 43%, 10%);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  grid-auto-rows: minmax(350px, auto);
  margin-top: 150px;
}

.left {
  grid-column: 1;
  grid-row: 1 / 3;
  background-color: hsl(235, 46%, 20%);
  border-radius: 20px;
}

.profil {
  background: hsl(246, 80%, 60%);
  border-radius: 20px;
  padding-bottom: 70px;
}

.picture-profil {
  width: 35%;
  height: 35%;
}

.picture-profil img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin: 30px auto 20px 30px;
}

.profil p {
  margin: 20px auto 20px 50px;
  color: hsl(236, 100%, 87%);
  font-size: 18px;
  width: 40%;
}

.profil h1 {
  width: 50%;
  color: white;
  font-size: 3rem;
  margin: 20px auto 20px 50px;
  line-height: 60px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  text-decoration: none;
  color: hsl(236, 100%, 87%);
  padding: 40px 0 0 60px;
  font-size: 25px;
  cursor: pointer;
}

.links a:active {
  color: white;
}

.Work {
  border-radius: 20px;
  background-color: hsl(15, 100%, 70%);
  position: relative;
}
.icon {
  position: absolute;
  right: 20px;
  height: 100px;
  width: auto;
}

.content {
  position: absolute;
  background-color: hsl(235, 46%, 20%);
  border-radius: 20px;
  width: 100%;
  height: 80%;
  top: 75px;
  cursor: pointer;
}

.content:active {
  background-color: hsl(236, 42%, 38%);
}

.p1 {
  display: flex;
  justify-content: space-around;
}

.p1 p {
  font-size: 28px;
  color: white;
  margin-top: 30px;
}

.p1 img {
  width: 40px;
  height: 50%;
  margin-top: 50px;
}

.p2 h1 {
  color: white;
  margin: 40px auto 20px 70px;
  font-size: 4rem;
  letter-spacing: 6px;
}

.p2 p {
  margin: 2px auto 20px 70px;
  font-size: 20px;
  color: hsl(236, 100%, 87%);
}

.play {
  border-radius: 20px;
  background-color: hsl(195, 74%, 62%);
  position: relative;
}

.study {
  border-radius: 20px;
  background-color: hsl(348, 100%, 68%);
  position: relative;
}
.exercise {
  border-radius: 20px;
  background-color: hsl(145, 58%, 55%);
  position: relative;
}

.social {
  border-radius: 20px;
  background-color: hsl(264, 64%, 52%);
  position: relative;
}
.self-care {
  border-radius: 20px;
  background-color: hsl(43, 84%, 65%);
  position: relative;
}

@media screen and (max-width: 1100px) {
  .container {
    all: unset;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    margin: 60px 10px 60px 10px;
    grid-auto-rows: minmax(200px, auto);
  }
  .left {
    all: unset;
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
  }

  .profil {
    all: unset;
    display: flex;
    flex-direction: row;
    background: hsl(246, 80%, 60%);
    border-radius: 20px;
  }
  .picture-profil {
    width: 20%;
    height: 20%;
  }

  .picture-profil img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  .report {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
  }
  .profil p {
    all: unset;
    color: hsl(236, 100%, 87%);
    font-size: 15px;
  }
  .profil h1 {
    all: unset;
    color: white;
    font-size: 1.7rem;
    width: 100%;
  }

  .links {
    all: unset;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .links a {
    all: unset;
    text-decoration: none;
    color: hsl(236, 100%, 87%);
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px;
  }
  /* ************************************** */

  .content {
    position: absolute;
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
    width: 100%;
    height: 80%;
    top: 50px;
  }

  .p1 {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
  }

  .p1 p {
    font-size: 20px;
    color: white;
    margin-top: 30px;
  }

  .p1 img {
    width: 30px;
    height: 50%;
    margin-top: 40px;
    margin-right: 40px;
  }

  .p2 {
    display: flex;
  }

  .p2 h1 {
    color: white;
    margin: 20px;
    font-size: 2.5rem;
    letter-spacing: 6px;
  }

  .p2 p {
    margin: 40px auto 20px 30px;
    font-size: 18px;
    color: hsl(236, 100%, 87%);
  }
}
